extends template.pug

block head
    title DevBlog
    link(rel="stylesheet", href="/css/home.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="/js/home.js")

block body
    div(id='landing')
        div(id='landing_center')
            h1 Lachlan Slape
            p DevBlog
        i(class="arrow")


    div(id='body_content')
        div(id="intro")
            h1 Welcome!
            p This blog is dedicated to any thoughts or struggles I have in the tech industry. This is where I will write up anything new I come accross or overcome that is worth a discussion.
            
        h1(class="section_head") Recent Posts

        div(class="posts")
            h1 Yes
            p Aute sit culpa dolore nulla culpa dolor excepteur excepteur est ullamco mollit. Culpa nostrud pariatur cupidatat proident aute qui do. Id eu officia qui elit Lorem voluptate amet pariatur nostrud aute dolor cupidatat et. Ut culpa duis consectetur irure consequat enim. Eiusmod labore nulla ipsum elit laboris elit cupidatat aliquip ipsum in nulla tempor excepteur occaecat. Exercitation enim sint officia non deserunt dolore quis elit excepteur. Qui proident labore occaecat ad duis magna reprehenderit ut. 

        div(class="posts")
            h1 Yes
            p Aute sit culpa dolore nulla culpa dolor excepteur excepteur est ullamco mollit. Culpa nostrud pariatur cupidatat proident aute qui do. Id eu officia qui elit Lorem voluptate amet pariatur nostrud aute dolor cupidatat et. Ut culpa duis consectetur irure consequat enim. Eiusmod labore nulla ipsum elit laboris elit cupidatat aliquip ipsum in nulla tempor excepteur occaecat. Exercitation enim sint officia non deserunt dolore quis elit excepteur. Qui proident labore occaecat ad duis magna reprehenderit ut. 

        div(class="posts")
            h1 Yes
            p Aute sit culpa dolore nulla culpa dolor excepteur excepteur est ullamco mollit. Culpa nostrud pariatur cupidatat proident aute qui do. Id eu officia qui elit Lorem voluptate amet pariatur nostrud aute dolor cupidatat et. Ut culpa duis consectetur irure consequat enim. Eiusmod labore nulla ipsum elit laboris elit cupidatat aliquip ipsum in nulla tempor excepteur occaecat. Exercitation enim sint officia non deserunt dolore quis elit excepteur. Qui proident labore occaecat ad duis magna reprehenderit ut. 

        div(class="posts")
            h1 Yes
            p Aute sit culpa dolore nulla culpa dolor excepteur excepteur est ullamco mollit. Culpa nostrud pariatur cupidatat proident aute qui do. Id eu officia qui elit Lorem voluptate amet pariatur nostrud aute dolor cupidatat et. Ut culpa duis consectetur irure consequat enim. Eiusmod labore nulla ipsum elit laboris elit cupidatat aliquip ipsum in nulla tempor excepteur occaecat. Exercitation enim sint officia non deserunt dolore quis elit excepteur. Qui proident labore occaecat ad duis magna reprehenderit ut. 

        div(class="posts")
            h1 Yes
            p Aute sit culpa dolore nulla culpa dolor excepteur excepteur est ullamco mollit. Culpa nostrud pariatur cupidatat proident aute qui do. Id eu officia qui elit Lorem voluptate amet pariatur nostrud aute dolor cupidatat et. Ut culpa duis consectetur irure consequat enim. Eiusmod labore nulla ipsum elit laboris elit cupidatat aliquip ipsum in nulla tempor excepteur occaecat. Exercitation enim sint officia non deserunt dolore quis elit excepteur. Qui proident labore occaecat ad duis magna reprehenderit ut. 
