head
    block head

body
    div(id="header")
        div(id="header_cont")
            a(href='/', id="header_name") DevBlog
            div(id="navigation")
                ul
                    li: a(href="/posts") Posts
                    li: a(href="/about") About
        
    block body